# Home Assistant Add-on: owserver

[![Releases][version]][releases]

![amd64][amd64-shield]
![aarch64][aarch64-shield]
![armhf][armhf-shield]
![armv7][armv7-shield]
![i386][i386-shield]

The addon provides owserver to read 1-Wire devices over serial/i2c or usb device.

{% if channel == "edge" %}
## This is EDGE version! 🔧🔧🔧
**WARNING:** The software in the edge repository may not be stable and could potentially cause issues on your system. Edge software is typically experimental or under development, and may not have undergone rigorous testing. Use at your own risk and exercise caution when installing or updating packages from the edge repository.
{% endif %}
{% if channel == "beta" %}
## This is BETA version! 🔧🔧🔧
**WARNING:** The software in the beta repository may not be stable and could potentially cause issues on your system. Beta software is typically a pre-release version of a product that is still undergoing testing and development. Although it has undergone some testing, it may not have undergone the same level of testing as a stable release. Use at your own risk and exercise caution when installing or updating packages from the beta repository.
{% endif %}

## About

This addon provides you owserver instance to read 1-Wire devices over serial/i2c/usb or ha7net device and exposing reading to Home Assistant via the native integration.

### Supported devices
Addon has been tested with
- [MERA-PROJEKT MP00206-P](http://www.meraprojekt.com.pl/mp00206-p.html)
- [ElabNET's Professional Busmaster PBM-01](https://shop.elabnet.de/en/1-wire/series/h/1-wire-professional-bus-master-pbm01-usb_812_2073)
- [HA7Net](https://www.embeddeddatasystems.com/HA7Net--Ethernet-1-Wire-Host-Adapter_p_22.html) 

but shoud work well with other serial/i2c/usb/ha7net devices. Please let me know what device you're using so I will update device list for further reference.

## Installation and configuration

### Installation

1. Access your Home Assistant, go to **Add-ons** -> **Add-on Store** and add this URL as an additional repository: 
`{% if channel == "edge" %}https://github.com/lrybak/addon-repository-edge{% elif channel == "beta" %}https://github.com/lrybak/addon-repository-beta{% else %}https://github.com/lrybak/addon-repository{% endif %}`
1. Find the "owserver (1-Wire)" add-on and click the "INSTALL" button.
1. Configure the add-on and click on "START". With default configuration addon starts with fake (mocked) devices.
1. Add to Home Assistant through the Integrations. Go to Integrations, Add Integration, Choose 1-Wire
    - Host: `provide add-on's hostname (from add-on details page)`
    - Port: `4304` _(default)_
1. That's it. On the integrations page you will find 1-Wire integration with discovered devices.

### Configuration
Please check the **[full documentation page](https://github.com/lrybak/hassio-owserver/blob/master/DOCS.md)**.

## Screenshots

![Integration setup 1](https://github.com/lrybak/hassio-owserver/raw/master/images/screenshot_setup1.png)
![Integration setup 2](https://github.com/lrybak/hassio-owserver/raw/master/images/screenshot_setup2.png)
![Integration setup 3](https://github.com/lrybak/hassio-owserver/raw/master/images/screenshot_setup3.jpg)
![Integrations page](https://github.com/lrybak/hassio-owserver/raw/master/images/screenshot_integrations.jpg)
![owhttpd](https://github.com/lrybak/hassio-owserver/raw/master/images/screenshot_owhttpd.jpg)

[version]: https://img.shields.io/badge/version-{{ version | replace("-", "--") }}-blue.svg
[releases]: https://github.com/lrybak/hassio-owserver/releases
[addons-repository]: https://github.com/lrybak/addon-repository
[addons-repository-beta]: https://github.com/lrybak/addon-repository-beta
[addons-repository-edge]: https://github.com/lrybak/addon-repository-edge

[amd64-shield]: https://img.shields.io/badge/amd64-yes-green.svg
[aarch64-shield]: https://img.shields.io/badge/aarch64-yes-green.svg
[armhf-shield]: https://img.shields.io/badge/armhf-yes-green.svg
[armv7-shield]: https://img.shields.io/badge/armv7-yes-green.svg
[i386-shield]: https://img.shields.io/badge/i386-no-red.svg
